<header>
  <nav role="navigation">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

      <div>
        <img src="assets/svg/sig-en.svg"
             i18n-aria-label aria-label="Government of Canada"
             i18n-alt alt="Government of Canada">
      </div>

      <div class="links">
        <a i18n-href href="https://www.canada.ca/en.html" i18n>Canada.ca</a>
        |
        <a i18n-href href="https://www.canada.ca/en/services.html" i18n>Services</a>
        |
        <a i18n-href href="https://www.canada.ca/en/government/dept.html" i18n>Departments</a>
        |
        <a i18n-href="English/French Language link" href="/fr/" i18n="English/French language label">Français</a>
      </div>
    </div>
  </nav>
</header>
