header {
  color: white;
  background-color: rgba(0, 0, 0, 0.97);
  font-size: 14px;
  min-height: 42px;
}

header > nav {
  margin: 0 auto;
  max-width: 960px;
  min-width: 360px;
  padding: 10px 10px 3px 10px;
}

.links {
  margin-top: 5px;
}

header a:link, header a:visited {
  color: white;
  text-decoration: none;
}

img {
  color: white;
  height: 22px;
  display: block;
}

@media (max-width: 600px) {
  img {
    display: none;
  }
}
