<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false">

    <mat-toolbar color="primary" i18n>Menu</mat-toolbar>

    <mat-nav-list>

      <a mat-list-item routerLink="/home">
        <mat-icon i18n-aria-label aria-label="Home">home</mat-icon>
        Home
      </a>

      <ng-container *ngIf="auth.isAuthenticated">

        <mat-divider></mat-divider>
<!--
        <a mat-list-item routerLink="/name-of-your-custom-module/page1"
           i18n>Page 1
        </a>
-->
<!--
        <a mat-list-item routerLink="/name-of-your-custom-module/page2"
           i18n>Page 2
        </a>
-->
        <mat-divider></mat-divider>

        <a mat-list-item (click)="logout()">
          <span i18n>Logout</span>
        </a>

      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content id="main-content">
    <div class="content">

      <app-header></app-header>

      <app-banner i18n-bannerTitle bannerTitle="Open Source Data Platform "></app-banner>

      <nav role="navigation" class="menu">
        <mat-toolbar color="primary">
          <button
            class="button-mobile"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="(isHandset$ | async)">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>

          <button mat-flat-button routerLink="/home" *ngIf="! (isHandset$ | async)">
            <mat-icon i18n-aria-label aria-label="Home">home</mat-icon>
            <ng-container i18n>Home</ng-container>
          </button>

          <ng-container *ngIf="! (isHandset$ | async) && auth.isAuthenticated">
<!--
            <button mat-flat-button routerLink="/name-of-your-custom-module/page1"
                    i18n>Page 1
            </button>
-->              
<!--
            <button mat-flat-button routerLink="/name-of-your-custom-module/page3"
                    i18n>Page 3
            </button>
-->

<!--
            <button mat-flat-button routerLink="/name-of-your-custom-module/page4"
                    i18n>Page 3
            </button>
-->
          </ng-container>

          <span class="mat-toolbar-spacer"></span>

          <ng-container *ngIf="auth.isAuthenticated; else login">
            <button mat-flat-button [ngClass]="(isHandset$ | async) ? 'button-mobile' : 'float-right'"
                    (click)="logout()"
                    matTooltip="{{auth.user?.accountName}}">
              <span i18n>Logout</span>
            </button>
          </ng-container>

          <ng-template #login>
            <button mat-flat-button [ngClass]="(isHandset$ | async) ? 'button-mobile' : 'float-right'"
                    routerLink="/login">
              <span i18n>Login</span>
            </button>

          </ng-template>

        </mat-toolbar>
      </nav>

      <main class="router-content">
        <router-outlet></router-outlet>
      </main>

      <ng-container *ngIf="true || ! (isHandset$ | async)">
        <app-footer></app-footer>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
