<footer>

  <div class="site-footer">

    <nav role="navigation" i18n-aria-label aria-label="Site Footer">

      <div>

        <span [ngStyle.xs]="{'display': 'block'}">
          <a i18n-href href="http://www.google.com"
             i18n>Terms and conditions</a>
          |
        </span>

        <span [ngStyle.xs]="{'display': 'block'}">
          <a i18n-href href="http://www.google.com"
             i18n>Transparency</a>
        </span>
      </div>


      <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="space-evenly none">

        <section fxFlex>
          <h6><a i18n-href href="http://www.google.com"
                 i18n>About us</a></h6>
          <ul>
            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>Acts, Regulations and Policy</a>
            </li>

            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>History of NRCAN-RNCAN</a>
            </li>
          </ul>
        </section>

        <section fxFlex>
          <h6><a i18n-href href="http://www.google.com"
                 i18n>News</a></h6>
          <ul>
            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>Frequently Asked Questions</a>
            </li>
            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>Videos</a>
            </li>
            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>News Releases</a>
            </li>
          </ul>
        </section>

        <section fxFlex>
          <h6><a i18n-href href="http://www.google.com"
                 i18n>Contact us</a></h6>
          <ul>
            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>General Inquiries</a>
            </li>
            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>Feedback Form</a>
            </li>
            <li>
              <a i18n-href href="http://www.google.com"
                 i18n>Media Room</a>
            </li>
          </ul>
        </section>

        <section fxFlex>
          <h6 i18n>Stay Connected</h6>
          <ul>
            <li>
              <a i18n-href href="https://www.youtube.com/user/"
                 i18n>YouTube</a>
            </li>
            <li>
              <a i18n-href href="https://twitter.com/"
                 i18n>Twitter</a>
            </li>
            <li>
              <a i18n-href href="https://www.flickr.com/photos/"
                 i18n>flickr</a>
            </li>
            <li>
              <a i18n-href href="https://www.facebook.com/"
                 i18n>Facebook</a>
            </li>
          </ul>
        </section>
      </div>
    </nav>
  </div>

  <div class="gc-footer">
    <nav role="navigation" i18n-aria-label aria-label="Site Footer">
      <section>
        <ul fxLayout="row" fxLayout.xs="column" fxFlexAlign="start center">

          <li fxFlex>
            <a i18n-href href="https://www.canada.ca/en/services/health.html" rel="external"
               i18n>Health</a>
          </li>
          <li fxFlex>
            <a i18n-href href="https://travel.gc.ca/" rel="external"
               i18n>Travel</a>
          </li>
          <li fxFlex>
            <a i18n-href
               href="https://www.canada.ca/en/employment-social-development/corporate/portfolio/service-canada.html"
               rel="external"
               i18n>Service Canada</a>
          </li>
          <li fxFlex>
            <a i18n-href href="https://www.jobbank.gc.ca/home" rel="external"
               i18n>Jobs</a>
          </li>
          <li fxFlex>
            <a i18n-href href="http://actionplan.gc.ca/en" rel="external"
               i18n>Economy</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</footer>
